.pos .popup .pos-input {
    text-align: center;
    font-size: 18px;
    color: #555555;
    background: none;
    min-height: 0;
    border-radius: unset;
    box-shadow: none;
    /* padding: 10px 50% 0px 70%; */
    cursor: pointer;
    width: 50px;
    margin-right: 15px;
    border-bottom: solid 2px;
}
.pos .close-pos-popup th:nth-child(4), .pos .close-pos-popup td:nth-child(4) {
    text-align: left;
    /* padding-left: 10px; */
    /* padding-right: 20px; */
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: stretch; */
    justify-content: space-between;
}
.normal{
    display: flex;
}

.exchange {
    display: flex;
    /* flex-direction: row; */
    padding-left: 15px;
}

.prix{
    text-align: right;
}
.inputt{
        text-align: center;
    font-size: 18px;
    color: #555555;
    background: none;
    min-height: 0;
    border-radius: unset;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    width: 50px;
    margin-right: 15px;
    border-bottom: solid 2px;
}